# Copy this file to `.env` and include your secret credentials. Ask a team
# member for help finding those secrets. Use your password manager to supply
# secrets instead of hard-coding them in plain text.

# AWS access key id for tts-prod account
export AWS_ACCESS_KEY_ID="$(use-your-password-manager)"

# AWS secret key for tts-prod account
export AWS_SECRET_ACCESS_KEY="$(use-your-password-manager)"

# GitHub personal access token (scope: repo, read:org)
# https://github.com/settings/tokens
export GITHUB_TOKEN="$(use-your-password-manager)"
