# GitHub Repos

| repo | status | Tech Portfolio manages all content? |
| --- | --- | --- |
%{~ for repo, config in repos }
| [18F/${repo}](https://github.com/18F/${repo}) | ${lookup(config, "archived", false) ? "archived" : "active"} | ${lookup(config, "shared_content_ownership", false) ? "N" : "Y"} |
%{~ endfor }

For repositories where the Tech Portfolio _doesn't_ manage all content, we are the "technical owners", meaning we keep them running, fix any security vulnerabilities, etc. In the Handbook, we are responsible for pages related to things we own, like those under [software and tools](https://handbook.tts.gsa.gov/#software-and-tools).

## Adding a repository

Consider adding the repo to a community GitHub organization where possible. For example, we sometimes work with [opencontrol](https://github.com/opencontrol) and [fisma-ready](https://github.com/fisma-ready) organizations.

When a repository is considered "managed" by the Tech Portfolio, it should be included in the following places:

- [The list in Terraform](../terraform/main.tf)
- Linked repositories for project boards
  - [Team board](https://github.com/orgs/18F/projects/11/settings/linked_repositories)
  - [Pull requests](https://github.com/orgs/18F/projects/19/settings/linked_repositories)
