---
name: plan

on:
  pull_request:
    branches: [master]

env:
  AWS_ACCESS_KEY_ID: "${{ secrets.AWS_ACCESS_KEY_ID }}"
  AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_ACCESS_KEY }}"
  AWS_DEFAULT_REGION: us-east-1


jobs:
  plan:
    name: plan
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: terraform plan
        uses: dflook/terraform-plan@v1
        with:
          path: terraform
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        env:
          GITHUB_TOKEN: "${{ secrets.GH_SECRET_TOKEN }}"
